<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="key1" value="Sample"/>
    <!-- Kams, Sing3 , Sandbox , ProDev , APMFG-->
    <add key="Username" value="skameshh@outlook.com"/>
    <add key="Password" value="fbmrslcyupfidryh"/>

    <add key="DB" value="Kam"/>
    <add key="DB_NAME" value="AUTO_FO_PARTS"/>
    <!-- gmail 
    <add key="Password" value="jebqggyzdgnyiopj"/>-->
  </appSettings>

  </configuration>